#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}